# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user settings
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# CocoaPods / SPM
Pods/
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# OS
.DS_Store
Thumbs.db
