<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Arcana</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Display your heart rate and activity rings on the watch face.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to show weather and rain information on the watch face.</string>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>background-app-refresh</string>
		<string>self-care</string>
	</array>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
